<!-- <html>
    <head>
        <title>A fullscreen ORS webmap</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.css"  />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-contextmenu/1.4.0/leaflet.contextmenu.css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.2.0/leaflet.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-contextmenu/1.4.0/leaflet.contextmenu.js"></script>
        <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src='https://npmcdn.com/@turf/turf/turf.min.js'></script>
        <style>
            body {
                padding: 0;
                margin: 0;
            }
            html, body, #map {
                height: 100%;
                width: 100%;
            }
        </style>
    </head>
    <body>
        <div id="map"></div>
        <script>
             var map = L.map('map',{
                contextmenu: true,
                contextmenuWidth: 140,
                contextmenuItems: [
                    {
                        text: 'get Isochrones',
                        callback: getAccess
                    }
                ]
            }).setView([53, -1], 10);
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                maxZoom: 18
            }).addTo(map);
            //the geojson data:
            var data = {
                "type": "FeatureCollection",
                "features": [
                    {
                        "type": "Feature",
                        "properties": {
                            "name": "Pub"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                -1.1669,
                                52.956
                            ]
                        }
                    },
                    {
                        "type": "Feature",
                        "properties": {
                            "name": "Pub New"
                        },
                        "geometry": {
                            "type": "Point",
                            "coordinates": [
                                -1.1428,
                                52.955
                            ]
                        }
                    }
                ]
            }
            function onEachMarker(feature, layer){
                layer.bindContextMenu({
                    contextmenu: true,
                    contextmenuWidth: 140,
                    contextmenuItems: [
                        {
                            text: 'get Isochrones from marker',
                            callback: getAccessFromMarker
                        }
                    ]
                })
                layer.bindPopup(feature.properties.name);  
            };
            var markers = L.geoJSON(data, {
                onEachFeature: onEachMarker
            }).addTo(map);
            function getAccessFromMarker(e){
                getIsochrones(e.relatedTarget.feature.geometry.coordinates);
            }
            function getAccess(e){
                getIsochrones([e.latlng.lng,e.latlng.lat]);
            }
            function getIsochrones(point){
                var url  = 'https://api.openrouteservice.org/v2/directions/driving-car?api_key=5b3ce3597851110001cf6248040bf11c6e03479b896c810ea1ae8368&start=8.681495,49.41461&end=8.687872,49.420318'
                $.ajax({
                    type: "GET", //rest Type
                    dataType: 'json',
                    url: "https://api.openrouteservice.org/isochrones?locations=" + String(point[0]) + "," + String(point[1]) +"&profile=driving-car&range_type=time&interval=300&range=1800&units=&location_type=start&intersections=false&api_key=58d904a497c67e00015b45fc90fa91f0d345426145bb09e67e859771",
                    async: false,
                    contentType: "application/json; charset=utf-8",
                    success: function (data) {
                        map.eachLayer(function (layer) {
                            if (layer.id === 'access'){// it's the access layer
                                map.removeLayer(layer);
                            } 
                        });
                        var difference=[];
                        for (i=0; i<(data.features.length-1); i++){
                            console.log(i);
                            difference.push(turf.difference(data.features[i+1],data.features[i]));
                        }
                        difference.push(data.features[0]);
                        data.features=difference;
                        access = new L.geoJson(data,{
                            onEachFeature: function(feature,layer){
                                layer.bindPopup("Isochrone: " + feature.properties.value);
                            },
                            style: function(feature) {
                                ratio=feature.properties.value/1800;
                                return {color :"rgb(" + String(Math.round(255*ratio)) + "," + String(Math.round(255*(1-ratio)))+ ", 0)",
                                opacity: 0.6};
                            }
                        }).addTo(map);
                        access.id="access";
                    }
                });
            }
            </script>
    </body>
</html> -->


<!-- <link type="text/css" href="https://unpkg.com/leaflet@latest/dist/leaflet.css" />
<link type="text/css" href="https://unpkg.com/leaflet-control-geocoder/dist/Control.Geocoder.css" />
<link type="text/css" href="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.css" /> -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Leaflet OSRM Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css" integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="" />
    <link rel="stylesheet" href="/leaflet_pc/dist/leaflet-routing-machine.css" />
    <link rel="stylesheet" href="/leaflet_pc/index.css" />
</head>
<body>
    <div id="map" class="map"></div>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js" integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
    <script src="/leaflet_pc/dist/leaflet-routing-machine.js"></script>
    <script src="/leaflet_pc/Control.Geocoder.js"></script>
    <script src="/leaflet_pc/config.js"></script>
    <script src="/leaflet_pc/index.js"></script>
</body>
</html>